@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto",sans-serif;
    font-size: 2rem;
    text-align: center;
    padding: 0.5rem;
    margin:2rem;
}
nav{
    border: 2px solid teal;
    border-radius: 2rem;
    line-height: 5.5rem;
}
li a{
    display: block;
}
ul{
    list-style-type: none;
    list-style-position: inside;
}
li{
    border-top: 2px teal solid;
}
li a, li a:visited{
    text-decoration: none;
    color:rgb(15, 15, 51);
}
li a:hover, li a:focus, li a:active{
    background-color: rgb(15, 15, 51);
    color:teal;
}
li:last-child a{
    border-radius: 0 0 2rem 2rem;
}
h2{
    background-color: rgb(6, 4, 34);
    color:cadetblue;
    border-radius: 2rem 2rem 0 0 ;
}
p{
    font-size: 1rem;
    padding: 0.5rem;
    margin:1rem;
}
